@import "tailwindcss";

.box-desktop {
  display: none;
}

.bg-desktop {
  display: none;
}

/*BG header*/
@media screen and (min-width: 640px) {
  .bg-desktop {
    display: block;
  }
  .bg-mobile {
    display: none;
  }
}

/*FAQ box*/
@media screen and (min-width: 640px) {
  .box-desktop {
    display: block;
  }
  .box-mobile {
    display: none;
  }
}

.custom-bg-color {
  background-color: #f9f0ff;
}

.faq-item {
  transition: color 0.3s ease;
}

.faq-item:hover {
  color: #ad28eb;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s;
}

.faq-answer.open {
  max-height: 200px; /* Large enough value */
  opacity: 1;
  padding-top: 10px; /* Optional for spacing */
}
