@import "tailwindcss";

.bg-desktop {
  display: none;
}

@media screen and (min-width: 567px) {
  .bg-desktop {
    display: block;
  }
  .bg-mobile {
    display: none;
  }
}

.custom-bg-color {
  background-color: #f9f0ff;
}
